<!-- Services Section -->
    <section id="adeo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Adeo</h2>
                    <p class="lead">Fazemos parte do Grupo Adeo, o terceiro maior varejista de construção civil do mundo. Operamos com 76 lojas Bricoman espalhas em quatro países europeus, entre eles Itália, Polônia, França e Espanha e com o sucesso crescente do negócio resolvemos expandir as fronteiras e, agora estamos também no Brasil.</p>
                </div>
            </div>
        </div>
    </section>