<!-- Services Section -->
    <section id="adeo">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img src="img/adeo-logo.jpg" width="200px" alt="Groupe Adeo">
                    <br><br>
                    <p class="lead">Fazemos parte do Grupo Adeo, fundado em 1923 com a primeira marca, a Leroy Merlin, pelo casal Adolphe Leroy e Rose Merlin, como uma revenda de resíduos deixados pelos soldados americanos no fim da Primeira Guerra Mundial. Em 1979, a empresa foi comprada pela Associação Familiar Mulliez, que se torna o shareholder majoritário.</p>
                    <!--                
                    <h2>Adeo No Mundo</h2>
                    <ul class="text-left">
                        <li>Presente na França, Itália, Espanha, Polônia, China, Romênia, Grécia, Ucrânia, Portugal, Rússia, Chipre e Brasil</li>
                        <li>3o maior varejista do setor de construção civil no mundo</li>
                        <li>707 lojas integradas</li>
                        <li>Mais de 600 lojas próprias e 422 franquias </li>
                        <li>16 Bandeiras no grupo</li>
                        <li>Mais de 98 mil colaboradores</li>
                        <li>1 milhão de clientes por dia no mundo</li>
                        <li>Faturamento de mais de 17 bilhões de euros em 2015</li>
                    </ul>
                    -->
                    <br><br>
                    <img src="img/adeo/aki.png">
                    <img src="img/adeo/alicedelice.png">
                    <img src="img/adeo/brico.png">
                    <img src="img/adeo/bricoman.png">
                    <img src="img/adeo/decoclico.png">
                    <img src="img/adeo/delamaison.png">
                    <img src="img/adeo/dompro.png">
                    <img src="img/adeo/epicenter.png">
                    <img src="img/adeo/kbane.png">
                    <img src="img/adeo/kozikaza.png">
                    <img src="img/adeo/leroy.png">
                    <img src="img/adeo/lightonline.png">
                    <img src="img/adeo/quotatis.png">
                    <img src="img/adeo/tikamoon.png">
                    <img src="img/adeo/weldom.png">
                    <img src="img/adeo/zodio.png">
                    <br><br>
                    <br>
                    <p class="lead">Operamos com 76 lojas Bricoman espalhas em quatro países europeus, entre eles Itália, Polônia, França e Espanha e com o sucesso crescente do negócio resolvemos expandir as fronteiras e, agora estamos também no Brasil.</p>
                </div>
            </div>
        </div>
    </section>