<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Quem Somos</h2>
                    <p class="lead">Fazemos parte do Grupo Adeo, o terceiro maior varejista de construção civil do mundo. Agora estamos no Brasil, onde seremos o primeiro atacarejo de construção civil do país.</p>
                </div>
            </div>
            <br>
            <br>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Visão</h4>
                    <p class="text-muted">Revolucionamos a experiência de compra ao torná-la incrivelmente fácil, profissional, confiável e amigável. Para atingir e sempre renovar essa ambição, ajudamos incansavelmente nossas equipes e nossos clientes a se superarem. Faremos a diferença na vida dos brasileiros.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Valores</h4>
                    <p class="text-muted">Paixão</p>
                    <p class="text-muted">Partilha</p>
                    <p class="text-muted">Proximidade</p>
                    <p class="text-muted">Transparência</p>
                    <p class="text-muted">Gosto por empreender</p>
                    <p class="text-muted">Compromisso com o resultado</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Missão</h4>
                    <p class="text-muted">Ser o parceiro confiável dos dos consumidores finais pragmáticos e profissionais garantindo uma economia de tempo, energia e dinheiro na realização de seus projetos de construção, reforma, instalação e manutenção residencial e comercial de pequeno e médio porte.</p>
                </div>
            </div>
        </div>
    </section>